h1 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 18pt;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

p {
  font-family: Arial, Verdana, sans-serif;
  font-size: 75%;
}

.label {
  font-family: Arial, Verdana, sans-serif;
  font-size: 60%;
}

.calc {
  font-family: Arial, Verdana, sans-serif;
  font-size: 80%;
  border-collapse: collapse;
}

.calc td, .calc th {
  border: 1px solid black;
}

.calc thead {
  font-weight: bold;
  background-color: #eeeeee;
}

.disabledAction {
  color: #dddddd;
}

.maskSpan {
  background-color: #cccccc;
  text-align: right;
}

.maskSpanJoinable {
  background-color: #cccccc;
  text-align: right;
  cursor: pointer;
}

.maskSpanRotate {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  background-color: green;
}

.calc input[type="text"] {
  font-family: Arial, Verdana, sans-serif;
  font-size: 100%;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.calc input[type="text"]:focus {
  border-color: #66afe9;
  outline: none;
}

/* Remark column styles - auto-adjust based on content */
.calc td.remark-cell {
  white-space: nowrap;
  min-width: 80px;
}

.calc input[type="text"].remark-input {
  min-width: 80px;
  width: 100%;
  box-sizing: border-box;
}
